{% extends "base.html"%}

{% block title %} Add New Sales Order {% endblock %}

{% block content %}

<form method="POST" action="#">
    <table>
        <tr>
            <td rowspan="2">Code</td>
            
        </tr>
        <tr>
            <td><input type="radio" name="code" value="model_s" required>model_s</td>
            <td><input type="radio" name="code" value="semi"required>semi</td>
        </tr>
        <tr>
            <td>Total</td>
            <td><input type="number" name="total" required></td>
            <td></td>
        </tr>

        <tr>
            <td>Shipped</td>
            <td><input type="number" name="shipped" required value=0></td>
            <td></td>

        </tr>
        <tr>
            <td>Order No</td>
            <td><input type="text" name="orderNo" required placeholder="PO-000"></td>
            <td></td>

        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"><input type="reset" value="Clear"></td>
            <td></td>

        </tr>
    </table>

</form>

{% endblock %}